body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 8px;

}

.app {
  margin: 8px;
  /* color: red; */
}

.pink {
  color: pink;
}

.border {
  margin: 10px;
  padding: 10px;
  border: solid 1px red;
}

.dialog {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border: solid 1px black;
  width: 400px;
  height: 300px;
  text-align: center;
  line-height: 100px;
}